@import url('https://fonts.googleapis.com/css?family=Merriweather|Fira+Sans&display=swap');

.App {
  margin: 0 auto;
}

.card {
  margin: 0 auto;
  background: linear-gradient(to top, red, pink);
  width: 15em;
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}
