@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

.App {
  margin: 0 auto;
  color: white;
}

.card {
  font-family: 'Merriweather', sans-serif;
  margin: 0 auto;
  background: linear-gradient(to bottom, blue, lightblue);
  width: 15em;
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
}

.location {
  text-align: center;
}

.city {
  font-size: 1.7em;
}

.country {
  font-size: 1.1rem;
}

.temperature {
  font-size: 1.3rem;
}

.icon {
  width: 30%;
}

.condition {
  font-size: 1.9rem;
}
